.section {
    max-height: 586px;
}

.section__link {
    display: inline-block;
    position: relative;
    overflow: hidden;
    height: 587px;
}

.section__link:first-child {
    margin-right: 16px;
}

.section__link img {
    max-height: 587px;
    height: 100%;
    object-position: 100%;
    transition: transform 1s ease;
    display: block;
}

.section__link:first-child img {
    object-position: 55% 40%;
}

.section__link:hover img {
    transform: scale(1.1);
}

.section__overlay {
    position: absolute;
    background-color: #27272766;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.section__overlay > span {
    color: #fff;
}

.section__overlay > span {
    font-size: 24px;
    line-height: 30.77px;
    color:#ffffffbe
}


.section__overlay > h2 {
    margin-bottom: 23px;
}

.section__overlay > hr {
    width: 130px;
    height: 1px;
    background-color: #fff;
}